<!-- <nav>
    <a routerLink='/home'>Home</a>
    <a routerLink='/characters'>Characters</a>
    <a routerLink='/locations'>Locations</a>
    <a routerLink='/chapters'>Chapters</a>
    <a routerLink='/about'>about</a> -->
    
<!-- </nav> -->
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
        <div>
          <a class="navbar-brand" routerLink='/home'><h1>Ryck and Morty</h1></a>
        
          
      </div>
    
    <a class="navbar-brand" routerLink='/characters'>Characters</a>
    <a class="navbar-brand" routerLink='/locations'>Locations</a>
    <a class="navbar-brand" routerLink='/chapters'>Chapters</a>
    <a class="navbar-brand" routerLink='/about'>about</a>
    </nav>
  </div>