<h1 class="home-text">Ryck And Morty Database</h1>
<h2 class="home-text">Por Emilio Jose Caparros</h2>
<img src="https://media0.giphy.com/media/ZY2DmHSTFpmmEH5STD/giphy.gif?cid=ecf05e47f4d8653fcfdfb4431f5d89778d579c83f2f475bb&rid=giphy.gif" alt="">


