<div class="card">
    <h3>{{ characterDetail.name }}</h3>
    <img src={{characterDetail.image}} alt="">
    <p>{{characterDetail.gender}}</p>
    <p>{{characterDetail.location.name}}</p>
    <p>{{characterDetail.origin.name}}</p>
    <p>{{characterDetail.status}}</p>
  </div>
