/* You can add global styles to this file, and also import other style files */
a { color: inherit; }
.card {
background-color: rgb(198, 245, 212);
border: chartreuse;
border-style: groove ; 
align-items: center;
align-self: center;
margin-left:5%;
margin-right: 5%;
margin-top: 1%

// display: flex;
// flex: 1

;
    
}
img {
max-width: 70%;
}
.navbar-brand {
    
    display: flex;
    justify-content: center;
}
body {
    background-image: url("https://images.alphacoders.com/876/thumb-1920-876589.jpg");
}
.home-text {
    color: chartreuse
    
}
.navbar {
    background-color: chartreuse;
}